body{
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, 1);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #000000;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cont{
  color: white;
}
.title{
font-size: 70px;
}

nav ul{
  float: right;
  margin-top: -5%;
  margin-right: 10%;
  margin-right: 4%;
}
nav ul li{
  display: inline-block;

  margin: 0 40px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}


nav ul li a{
  padding: 0 6px;
}
nav ul li a::before {
/*   content: "[ "; */
  margin: -0.1em 0px 0px -0.8em;
}
nav ul li a::after {
/*   content: " ]"; */
  margin: -0.1em 0px 0px 0.3em;
}


nav ul li a::before, nav ul li a::after {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
}

nav ul li a:hover {
  color:rgb(0, 206, 110)
}
nav ul li a:hover:before  {
    margin: -0.1em 0px 0px -1.2em;
}
nav ul li a:hover::after  {
  margin: -0.1em 0px 0px 0.7em;
}


/* Custom Brackets */

nav ul li a::before {
  content: "[";
}
nav ul li a::after {
  content: "]";
}

.landing{
  font-size: 70px;
}