body{
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, 1);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #000000;
  overflow-x: hidden;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.land{
  position: static;
}
.cont{
  color: white;
}
.title{
font-size: 70px;
}

nav ul{
  float: right;
  margin-top: -5%;
  margin-right: 10%;
  margin-right: 4%;
}
nav ul li{
  display: inline-block;

  margin: 0 40px;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}


nav ul li a{
  padding: 0 6px;
}
nav ul li a::before {
/*   content: "[ "; */
  margin: -0.1em 0px 0px -0.8em;
}
nav ul li a::after {
/*   content: " ]"; */
  margin: -0.1em 0px 0px 0.3em;
}


nav ul li a::before, nav ul li a::after {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
}

nav ul li a:hover {
  color:rgb(0, 206, 110)
}
nav ul li a:hover:before  {
    margin: -0.1em 0px 0px -1.2em;
}
nav ul li a:hover::after  {
  margin: -0.1em 0px 0px 0.7em;
}


/* Custom Brackets */

nav ul li a::before {
  content: "[";
}
nav ul li a::after {
  content: "]";
}

.landing{
  font-size: 70px;
}

.container1{
  position:static;
  margin:0 66%;
  margin-top: -10%;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.container1 .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

.container1 .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(25px);
  transition: 0.5s;
}

.container1 .card:hover .content{
  transform: translateY(0px);
}

.container1 .card .content h2{
  position: absolute;
  top: -80px;
  right: 20px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

.container1 .card .content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container1 .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container1 .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}




.container2{
  position:static;
  margin:0 50%;
  margin-top: -10%;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.container2 .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

.container2 .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(25px);
  transition: 0.5s;
}

.container2 .card:hover .content{
  transform: translateY(0px);
}

.container2 .card .content h2{
  position: absolute;
  top: -80px;
  right: 20px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

.container2 .card .content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container2 .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container2 .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



.container3{
  position:static;
  margin:0 82%;
  margin-top: -22%;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.container3 .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
}

.container3 .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(25px);
  transition: 0.5s;
}

.container3 .card:hover .content{
  transform: translateY(0px);
}

.container3 .card .content h2{
  position: absolute;
  top: -80px;
  right: 20px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

.container3 .card .content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container3 .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container3 .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}